<%= form_for @event do |f| %>
<div class="links">
  <%= link_to_add_association( "Add seat", f, :reservations, { :style => 'visibility:hidden;' } )%>
</div>
  <%= f.submit "Confirm", id: "button"  %>
<% end %>
