<div class="container">
  <div class="eight columns offset-by-four">
    <div id="results">
      </br>
    <div class="container">
      <% @events.each do |e| %>
      <div class="row" id="nomarginrow">
	<div class="four columns offset-by-two">
	<h5><%= e.name %></h5>
	</div>	
      </div>
      <div class="row" id="nomarginrow">
	<div class="three columns offset-by-two">
	  <p>Guest name</p>
	</div>
	<div class="one column">
	  <p>Seat</p>
	</div>
      </div>
      <div class="row" id="nomarginrow">
	<div class="four columns offset-by-two">
	  <div id="reslistborder">
	  </div>
	</div>
      </div>      
      
      <% e.reservations.each do |r| %>
      <div class="row" id="nomarginrow">
	<div class="three columns offset-by-two">
	  <%= @users.find(r.user_id).name %>
	</div>
	<div class="one column">
	  <%= r.seat_id %>
	</div>
      </div>
      <div class="row" id="nomarginrow">
	<div class="four columns offset-by-two">
	  <div id="reslistborder">
	  </div>
	</div>
      </div>      
      <% end %>
      <div class="row">
	<div class="four columns offset-by-two">
	<p>Revenue: <%= e.reservations.count*e.price %>	</p>
	</div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
