<div id="eventlist" class="wrapper">
  </br>
  <div class="container">
    <div class="eight columns offset-by-four">      
      <div class="container">

<% if current_user %>
<% myevents = Array.new %>
<% current_user.reservations.each do |r| %>
  <% myevents << r.event_id %>
<% end %>
<% myevents = myevents.uniq %>
<% eventcounter = myevents.count - 1 %>

<% for i in 0..eventcounter %>
	
<div class="row">
  <h5><%= @events.find(myevents[i]).name %></h5>
  <p>  Seats:
  <% current_user.reservations.each do |r| %>
    <% if myevents[i] == r.event_id %>
      <%= r.seat_id %>,
    <% else %>
    <% end %>
  <% end %>
  </p>
	</div>
	<div class="row">
	  <div class="eight columns" id="listborder">
	  </div>
	</div>
	<% end %>
	
	<% end %>

      </div>      
    </div>
  </div>
</div>

